@import "../../styles/abstracts";

.header {
  margin-bottom: $gutter--xl;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.slide {
  cursor: pointer;
  
  img {
    transition: transform 0.5s $transition--bezier-timing;
    transform: scale(1);
  }

  &:hover img {
    transform: scale(1.07);
  }

  &--active, &:hover {
    img {
      transform: scale(1.05);
    }

    .body {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}
.title {
  margin-bottom: 1rem;
}

.body {
  padding: $gutter--lg 0;
  opacity: 0;
  transition: $transition--bezier;
  transform: translate3d(0, $gutter--sm, 0);

  &__title {
    margin-bottom: $gutter--sm;
  }
}

.img__wrapper {
  aspect-ratio: 2/3;
  width: 100%;
  border-radius: $gutter--sm;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.slider {
  margin: $gutter--xl * 2 0;
}
