@use "sass:math";

.article, .widget_text {
	p {
		margin: $gutter--md 0;
	}
	h1,
	h2,
	h3,
	h4,
	h5 {
		margin-top: $gutter--md;
		margin-bottom: $gutter--lg;
	}

	ul,
	ol {
		padding-left: $gutter--md;
		font-size: var(--font-size--md);

		li {
			padding-bottom: math.div($gutter--sm, 2);
		}
	}

	ul {
		list-style: disc;
	}

	a {
		text-decoration: underline;
	}
}
