@import "../../styles/abstracts";

.collapsable {
  border-bottom: 1px solid rgba(color(white, base), 0.1);
  padding: $gutter--md * 1.5;
  cursor: pointer;

  @include break("sm", "max") {
    margin: 0 $grid--gutter * -1;
    width: calc(100% + #{$grid--gutter * 2});
  }

  &__content {
    margin-top: 0;
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
    transition: $transition--bezier;
  }

  &:last-of-type {
    border: none;
  }

  &--active .collapsable__content {
    max-height: 200px;
    opacity: 0.5;
    margin-top: $gutter--md * 1.5;
  }
}

.list {
  margin-top: $gutter--lg;
  margin-bottom: $gutter--lg;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: $grid--container/2;
  width: 100%;
}

.visual {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.list__visuals {
  position: relative;
}

.listitem {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(10%, -50%);

  &:nth-child(2) {
    transform: translate(-150%, -120%);
  }

  &:nth-child(3) {
    transform: translate(-90%, 30%);
  }

  &--active-tag {
    opacity: 1;
    transform: translate3d(0px, 0px, 0);
  }
}

.astroid {
  width: 180px;

  img {
    transform: scale(1.1);
  }
}

.tags {
  position: relative;
  min-width: $icon-size--xl;
  min-height: $icon-size--xl;

  &__icon {
    width: $icon-size--xl;
    height: $icon-size--xl;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3d(15%, -75%, 0);

    &:nth-child(3) {
      transform: translate3d(40%, 100%, 0);
    }

    &:nth-child(2) {
      transform: translate3d(-200%, 20%, 0);
    }
  }
}