
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^wemetbefore\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.wemetbefore\.com$
RewriteRule ^/?$ "https\:\/\/wemetbefore\.com\/" [R=301,L]

