@mixin font($font-family, $font-file, $font-weight) {
  @debug $font-file + ".woff";
  @font-face {
    font-family: $font-family;
    src: url($font-file + ".eot?") format("eot"),
      url($font-file + ".woff2") format("woff2"),
      url($font-file + ".woff") format("woff"),
      url($font-file + ".ttf") format("truetype"),
      url($font-file + ".svg" + $font-family) format("svg");

    font-weight: $font-weight;
    font-style: normal;
    font-display: fallback;
  }
}

$font-size--base: 1.125rem;
$font-size--xxs: 0.625rem;
$font-size--xs: 0.8rem;
$font-size--sm: 1rem;
$font-size--md: 1.25rem;
$font-size--lg: 1.5rem;
$font-size--h4: 1.5rem;
$font-size--h3: 1.875rem;
$font-size--h2: 3.75rem;
$font-size--h1: 4.75rem;

$font-size--break-sizing: 0.8;

$font-weight--light: 300;
$font-weight--base: 300;
$font-weight--bold: 700;
$font-weight--display: 300;
$font-weight--heading: 600;
$font--transform-heading: none;
$line-height--base: 1.5;
$line-height--heading: 1.25;
$line-height--lg: 1.125;
$font--baseline: $line-height--base * 0.5rem;

$heading_1: "h1, .h1, %h1";
$heading_2: "h2, .h2, %h2";
$heading_3: "h3, .h3, %h3";
$heading_4: "h4, .h4, %h4";
$heading_5: "h5, .h5, %h5";
$heading_6: "h6, .h6, %h6";
$headings: $heading_1 + ", " + $heading_2 + ", " + $heading_3 + ", " +
  $heading_4 + ", " + $heading_5 + ", " + $heading_6;

@include font(
	'Neue Haas Grotesk',
	'/fonts/NeueHaas/NeueHaasDisplayMediu',
	$font-weight--heading
);



@include font(
	'Neue Haas Grotesk',
	'/fonts/NeueHaas/NeueHaasDisplayLight',
	$font-weight--base
);


@include font(
	'PolySans',
	'/fonts/PolySans-Slim-web/PolySans-Slim',
	$font-weight--display
);


@include font(
  "SequelSans",
  "/fonts/SequelSans/Sequel_Sans_Book_Body",
  $font-weight--base
);

@include font(
  "SequelSans",
  "/fonts/SequelSans/Sequel_Sans_Bold_Body",
  $font-weight--bold
);

// @include font(
// 	'TomatoGrotesk',
// 	'/assets/fonts/SpaceGrotesk-Bold',
// 	$font-weight--bold
// );

// stylelint-disable value-keyword-case
$font--main: "SequelSans", Futura, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font--heading: "Neue Haas Grotesk", monospace, -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
  sans-serif;
$font--display: "PolySans", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
// stylelint-enable value-keyword-case
$font--code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font--pre: "Courier 10 Pitch", courier, monospace;
