@import "../../styles/abstracts";


.wrapper {
  position: relative;
  padding-top: 100%;
}

.inner {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate3d(-50%,-50%, 0);
}
.content {
  display: flex;
  gap: $gutter--lg;
  flex-direction: column;
  align-items: center;
}

.alternating {
  position: relative;
  margin-right: .5ch;
  overflow: hidden;
  display: inline-block;
  
  &__first, &__second {
    display: inline-block;
  }

  &__second {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
}