@import "../../styles/abstracts";


.wrapper {
  position: relative;
  padding-top: 100%;
  min-height: 100svh;
}

.inner {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate3d(-50%,-50%, 0);
}
.content {
  display: flex;
  gap: $gutter--lg;
  flex-direction: column;
  align-items: center;
}

.alternating {
  position: relative;
  margin-right: .5ch;
  min-width: 4ch;
  display: flex;
  align-items: center;
  justify-content: flex-end;  
}

.cursor {
  width: .1ch;
  height: 1.1ch;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  background: rgba(255,255,255,0);
  margin-left: .1ch;
}