@import "../../styles/abstracts";

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150vh;
  text-align: center;
  overflow: hidden;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.05);
    position: absolute;
    top: 0;
    left: 0;
  }
}

.content {
  display: flex;
  gap: $gutter--lg;
  flex-direction: column;
  align-items: center;

  p {
    max-width: 400px;
    opacity: .5;
  }
}

.alternating {
  position: relative;
  margin-right: .5ch;

  &__first, &__second {
    display: inline-block;
  }

  &__second {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
}