@import "../../styles/abstracts";

.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  padding: $gutter--xl;
  z-index: 1;

  @include break("md", "max") {
    padding: $gutter--lg;
  }

  @include break("sm") {
    flex-direction: column;
  }
}

.content {
  width: 100%;

  @include break("sm", "min") {
    max-width: calc(50% - #{$grid--gutter * 2});
  }

  @include break("sm") {
    padding-top: 50vh;
  }
}

.body {
  margin-top: $gutter--lg;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: flex-start;

  @include break("sm", "min") {
    max-width: 400px;
    margin-left: auto;
  }
}

.title {
  text-wrap: balance;

  &__line {
    overflow: hidden;
    display: block;
  }
}

.bg {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - #{$grid--gutter * 2});
  overflow: hidden;
  z-index: -1;
  pointer-events: none;
  height: 110%;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left 49%,
    left 90%,
    from(rgb(0, 0, 0)),
    to(rgba(0, 0, 0, 0))
  );

  img,
  video {
    height: 100%;
    width: 120%;
    object-fit: contain;
    object-position: right;
    position: absolute;
    top: 0;

    @include break("md", "max") {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  @include break("md", "max") {
    width: 100%;
    height: 100%;
  }

  // @include break("sm", "max") {
  //   width: 200%;
  //   height: 100%;
  //   right: -20%;
  // }
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $gutter--sm;
  align-items: flex-end;

  @include break("sm") {
    order: -1;
  }
}
