@font-face {
  font-family: TomatoMedium;
  src: url("/fonts/TomatoGrotesk-Medium.woff");
}

@font-face {
  font-family: TomatoRegular;
  src: url("/fonts/TomatoGrotesk-Regular.woff");
}

@import "base/_reset.scss";
@import "base/_variables.scss";
@import "plugins/splide-core.min.css";
@import "plugins/splide.min.css";

@import "_layout.scss";

@import "services/carousel.scss";
