$buttons: "input[type='button'], input[type='reset'], input[type='submit']";

.button,
#{$buttons},
%button {
  font-family: 'Neue Haas Grotesk';

  font-size: 1rem;
  font-weight: $font-weight--heading;
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
  padding: $gutter--sm * 1.5 $gutter--md;
  cursor: pointer;
  transition: $transition--bezier;
  border: none;
  position: relative;
  background: transparent;
  text-transform: lowercase;
  border-radius: 5rem;
  border: 1px solid color(white, base);
  background-color: transparent;

  cursor: pointer;
  overflow: hidden;
  
  &:hover {
    background-color: white;
    &:before {
      transform: translate3d(0, 0, 0);
    }
  }
}
