@use "sass:math";

.card {
  padding: $gutter--md * 1.5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid #282828;
  border-radius: 14px;
  transition: background-color 0.5s $transition--bezier-timing;
  position: relative;
  width: 100%;

  .badge {
    align-self: flex-end;
  }

  @at-root a#{&} {
    cursor: pointer;
    overflow: hidden;

    &:hover {
      background-color: color(white, base);
    }
  }

  @include break("sm", "min") {
    aspect-ratio: 1/1;
  }

  @include break("sm", "max") {
    display: flex;
    flex-direction: row;
    padding: $gutter--md $gutter--md * 1.5;

    .badge {
      order: 1;
    }
  }
}
