.cursor {
  width: $icon-size--base*1.5;
  height: $icon-size--base*1.5;
  background: white;
  pointer-events: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9;
  border-radius: 100%;
  transition: 0.3s transform $transition--bezier-timing;
  transform: scale(0) translate3d($gutter--sm, $gutter--sm, 0);
  transform-origin: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &--active {
    box-shadow: none;
    transform: scale(3);
  }

  &__icon {
    transition: transform .2s $transition--bezier-timing;
    transform: scale(0);

    @extend .icon--full-screen !optional;

    &--active {
      transform: scale(1);
    }
  }
}
body:has(.cursor-trigger:hover) .cursor {
  @extend .cursor--active;

  .cursor__icon {
    @extend .cursor__icon--active;
  }
}
body:has(.is-prev:hover) .cursor {

  .cursor__icon {
    @extend .icon--back !optional;
  }
}



body:has(.cursor-trigger--external:hover) .cursor {
  @extend .cursor--active;
  display: none;
}

body:has(.cursor-trigger--back:hover) .cursor {
  @extend .cursor--active;
  
  .cursor__icon {
    @extend .cursor__icon--active;
    @extend .icon--back !optional;
  }
}
