@use "sass:math";

.icon,
%icon {
	width: $icon-size--base;
	height: $icon-size--base;
	display: inline-block;

	mask-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: 100%;
	position: relative;

	background: color(black, base);
	&--xl {
		width: $icon-size--base*3;
		height: $icon-size--base*3;
	}

	&--lg {
		width: $icon-size--lg;
		height: $icon-size--lg;
	}

	&--sm {
		width: $icon-size--sm;
		height: $icon-size--sm;
	}

	&--left {
		position: absolute;
		content: '';
	}

	@each $icon in $icons {
		@debug $icon;
		&--#{$icon} {
			mask-image: url(#{$icon-url + 'icon--' + $icon + '.svg' });
		}
	}

	&--light {
		background-color: $icon-color--light !important;
	}

	&--dark {
		background-color: $icon-color--dark !important;
	}

	&--svg {
		background-color: transparent;
	}
}
