@use "sass:math";

.container {
  max-width: $grid--container;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @media only screen and (max-width: $grid--container) {
    max-width: calc(100% - $grid--gutter - $grid--gutter);
    margin-left: $grid--gutter;
    margin-right: $grid--gutter;
  }

  @include break("sm", "max") {
    max-width: calc(100% - $grid--gutter*.75 - $grid--gutter*.75);
    margin-left: $grid--gutter*.75;
    margin-right: $grid--gutter*.75;
  }

  &--full {
    @extend .container;
    max-width: calc(100% - $grid--gutter - $grid--gutter);
    margin-left: $grid--gutter;
    margin-right: $grid--gutter;
  }
}

.container--offset {
  width: 100%;
  margin-left: $gutter--xl;
  margin-right: $gutter--xl;
  max-width: calc(100% - #{$gutter--xl * 2});

  @media only screen and (min-width: calc(#{$grid--container} + #{$gutter--xl*4})) {
    margin-left: $gutter--xl;
    margin-right: $gutter--xl;
  }

  @media only screen and (max-width: $grid--container) {
    max-width: calc(100% - $grid--gutter - $grid--gutter);
    margin-left: $grid--gutter;
    margin-right: $grid--gutter;
  }
}
