@use "sass:math";

.container {
  max-width: $grid--container;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @media only screen and (max-width: $grid--container) {
    max-width: calc(100% - $grid--gutter - $grid--gutter);;
    margin-left: $grid--gutter;
    margin-right: $grid--gutter;
  }

  &--full {
    @extend .container;
    max-width: calc(100% - $grid--gutter - $grid--gutter);
    margin-left: $grid--gutter;
    margin-right: $grid--gutter;
  }
}


.container--offset {
  margin-left: $gutter--md;
    margin-right: $gutter--md;
  @media only screen and (min-width: calc(#{$grid--container} + #{$gutter--xl*2})) {
    margin-left: $gutter--xl;
    margin-right: $gutter--xl;
  }
}