@import "../../styles/abstracts";

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  margin: $gutter--xl 0;
  position: relative;

  @include break("sm", "min") {
  }
}

.list {
  display: flex;
  margin-top: $gutter--lg;
  gap: $grid--gutter;
  align-items: center;
  justify-content: center;
  margin-bottom: $gutter--lg;

  @include break("sm", "max") {
    flex-direction: column;
    gap: $gutter--sm;
  }
}
