@import "../../styles/abstracts";
@import "../../styles/elements/badge";

.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  @include break("sm", "min") {
    min-height: 80vh;
  }
}

.list {
  display: flex;
  margin-top: $gutter--lg;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-bottom: $gutter--lg;

  @include break("sm", "max") {
    flex-direction: column;
  }
}

