@import "../../styles/abstracts";

.hero {
  width: 100%;
  height: 800px;
  overflow: hidden;
  border-radius: 0px;
  transition: border-radius 0px $transition--bezier-timing;
  // position: relative;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 8px;
  opacity: 1;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }
}

.inactive {
  border: 2px solid red;
  opacity: 0;
  pointer-events: none;
}