@import "../../../styles/abstracts";

.header {
    padding: $gutter--lg*1.5 0;
    border-bottom: 1px solid #FFFFFF33;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: $gutter--md*3 0;
}

.wrapper {
    background-color: black;
    z-index: 1;
    margin-top: 80vh;
    position: relative;
}