@import "../../../styles/abstracts";

.header {
    padding: $gutter--lg*1.5 0;
    border-bottom: 1px solid #FFFFFF33;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: $gutter--md*3 0;
}

.wrapper {
    background-color: black;
    z-index: 1;
    margin-top: 800px;
    position: relative;
}

.footer {
    max-height: 800px;
    position: relative;
    display: flex;
    margin-top: $gutter--lg;
    margin-bottom: $gutter--xl;
    height: 800px;

    img {
        max-height: 100%;
        object-fit: cover;
    }
}