.flex {
  display: flex;

  &--start {
    @extend .flex;
    align-items: center;
    justify-content: flex-start;
  }

  &--container {
    @extend .flex;
    gap: $grid--gutter;
  }

  &--center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--between {
    @extend .flex;
    justify-content: space-between;
    align-items: center;
  }

  .col {
    flex-basis: 100%;
  }
}
