html,
body {
  height: 100%;
}

.section {
  overflow: hidden;
  min-height: 100vh;
  position: relative;

  &--xl {
    @extend .section;
    min-height: 200vh;
    overflow: visible;
  }
}


body {
  position: relative;
  background-color: color(black, base);
}