html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

.section {
  overflow: hidden;
  min-height: 100vh;
  position: relative;
  
  &--center {
    @extend .section;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}


body {
  position: relative;
  background-color: color(black, base);
}